.page-user-edit {
  padding-top: 5rem;
  padding-bottom: 25rem;

  background-color: $gray6;
  &-container {
    padding: 0 18rem;
  }

  &-form {
    width: 872px;
    height: 460px;
    margin-left: 205px;

    &_block {
      width: 872px;
      height: 60px;
      margin-top: 40px;

      &_input {
        width: 426px;
        height: 60px;
        background: #e0e0e0;
        border-radius: 8px;
        border: none;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 108%;
        color: $gray3;
        padding: 20px;

        &-margin-right {
          margin-right: 15px;
        }
      }

      &_button{
        position: absolute;
        background: url('../img/sending-images-icon.svg') no-repeat center top/cover;
        height: 24px;
        width: 24px;
        border: none;
        margin-left: 394px;
        margin-top: 20px;
      }
    }

    &_block2 {
      width: 872px;
      height: 260px;
      margin-top: 40px;

      &_input {
        width: 100%;
        background: #e0e0e0;
        border-radius: 8px;
        border: none;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 108%;
        color: $gray3;
      }

      &_input1 {
        height: 60px;
        padding: 20px;
      }

      &_input2 {
        height: 160px;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 120px;
        margin-top: 40px;
      }
    }
    &_button {
      width: 236px;
      height: 60px;
      background: $green;
      border-radius: 6px;
      border: none;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $green-dark;
      margin-left: 320px;
      margin-top: 40px;
    }
  }
}
