<% var data = {
  title: "GrandCore | Регистрация"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-reg page-auth">
  <div class="page-auth__content">
    <div class="page-auth-selector">
      <a href='auth-login.html' class="page-auth-selector__item">
        Вход
      </a>

      <span class="page-auth-selector__item active">
        Регистрация
      </span>
    </div>

    <form method="POST" class="page-auth__auth-form">
      <div class="input-field">
        <label class="page-reg__input-title">Email</label>
        <input class="input" type="email" name="email" required>
        <span class="input__error"></span>
      </div>

      <div class="input-field">
        <label class="page-reg__input-title">Пароль</label>
        <input class="input" id='reg-psw1' type="password" name="password" required>
        <span class="input__error"></span>
      </div>

      <div class="input-field">
        <input class="input" id='reg-psw2' type="password" required>
        <span class="input__error"></span>
      </div>

      <div class="input-field">
        <label class="page-reg__input-title">Имя на сайте</label>
        <input class="input" type="text" name="name" required>
        <span class="input__error"></span>
      </div>

      <div class="input-field">
        <label class="page-reg__input-title">Инвайт</label>
        <input class="input" type="text" name="invite" required>
        <span class="input__error"></span>
        <a href="auth-get-invite.html" class="input__sub">Получить инвайт</a>
      </div>

      <input type="submit" class="btn btn--green btn--big btn--width" value="Войти">

      <div class="page-auth__error">
        <!-- Пароли не совадают  -->
      </div>
    </form>
  </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>