<% var data = {
  title: "GrandCore | Главная"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-main">
   <section class="page-main-header page-container img">
      <h1 class="page-main-header__title">
         Демократическая платформа полного цикла
      </h1>
      <div class="page-main-header-row">
         <div class="page-main-header-col-1">
            <h3 class="page-main-header-col-1__subtitle">
               Найдите единомышленников и работайте над любыми открытыми проектами вместе
            </h3>

            <div class="page-main-header-col-1__actions">
               <a class="btn btn--big" href="project-new.html">Предложить проект</a>
               <a class="btn btn--big btn--green" href="donat.html">Стать спонсором</a>
            </div>
         </div>

         <div class="page-main-header-col-2">
            <div class="page-main-header-col-2__watch">
               <button class="btn btn--round btn--transparent" id="play-video"></button>
               <label class="play-video-btn-label" for="#play-video">Смотреть видео</label>
            </div>
         </div>
      </div>
   </section>

   <section class="page-main-about page-container page-main-section page-main-section--gray">
      <h2 class="page-main-section__title line-prev">О фонде</h2>
      <h3 class="page-main-section__subtitle">Мы объединяем разных специалистов связанных одной идеей!</h3>
      <div class="page-main-about-content">
         <div class="page-main-about-content-block__wrapper">
            <div class="page-main-about-content-block">
               <h4 class="page-main-about-content-block__title">
                  <span>1.</span>
                  Что представляет из себя проект?
               </h4>
               <p class="page-main-about-content-block__text">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                  для работы над любыми открытыми проектами: общественно значимыми онлайн Мы хотим вывести идеи Open
                  Source
                  на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми открытыми
                  проектами: общественно значимыми онлайн
               </p>
            </div>

            <div class="page-main-about-content-block">
               <h4 class="page-main-about-content-block__title">
                  <span>2.</span>
                  Как принимаются решения?
               </h4>
               <p class="page-main-about-content-block__text">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                  для работы над любыми открытыми проектами: общественно значимыми онлайн
               </p>
            </div>
         </div>

         <div class="page-main-about-content-block__wrapper">
            <div class="page-main-about-content-block">
               <h4 class="page-main-about-content-block__title">
                  <span>3.</span>
                  Лицензия и устройство фонда
               </h4>
               <p class="page-main-about-content-block__text">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                  для работы над любыми открытыми проектами: общественно значимыми онлайн
               </p>
            </div>

            <div class="page-main-about-content-block">
               <h4 class="page-main-about-content-block__title">
                  <span>4.</span>
                  Как зарабатываем и как тратим?
               </h4>
               <p class="page-main-about-content-block__text">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                  для работы над любыми открытыми проектами: общественно значимыми онлайн Мы хотим вывести идеи Open
                  Source на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми
                  открытыми проектами: общественно значимыми онлайн
               </p>
            </div>
         </div>
      </div>
   </section>

   <section class="page-main-projects page-container page-main-section page-main-section--gray">
      <h2 class="page-main-section__subtitle">Главные проекты</h2>

      <div class="page-main-projects__wrapper">

         <div class="page-main-projects-item">
            <img class="page-main-projects-item__img" src="img/list-card-6.png" alt="Project 1">

            <div class="page-main-projects-item__wrapper">
               <h3 class="page-main-projects-item__title">Мы хотим вывести идеи Open Source на качественно </h3>
               <p class="page-main-projects-item__text">Мы хотим вывести идеи Open Source на качественно новый уровень,
                  создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами...</p>
               <a href="#" class="page-main-projects-item__link link--after-row">Смотреть проект</a>
            </div>
         </div>

         <div class="page-main-projects-item">
            <img class="page-main-projects-item__img" src="img/list-card-5.png" alt="Project 1">

            <div class="page-main-projects-item__wrapper">
               <h3 class="page-main-projects-item__title">Мы хотим вывести идеи Open Source на качественно </h3>
               <p class="page-main-projects-item__text">Мы хотим вывести идеи Open Source на качественно новый уровень,
                  создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами...</p>
               <a href="#" class="page-main-projects-item__link link--after-row">Смотреть проект</a>
            </div>
         </div>

         <div class="page-main-projects-item">
            <img class="page-main-projects-item__img" src="img/list-card-4.png" alt="Project 1">

            <div class="page-main-projects-item__wrapper">
               <h3 class="page-main-projects-item__title">Мы хотим вывести идеи Open Source на качественно </h3>
               <p class="page-main-projects-item__text">Мы хотим вывести идеи Open Source на качественно новый уровень,
                  создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами...</p>
               <a href="#" class="page-main-projects-item__link link--after-row">Смотреть проект</a>
            </div>
         </div>

         <div class="page-main-projects-item">
            <img class="page-main-projects-item__img" src="img/list-card-7.png" alt="Project 1">

            <div class="page-main-projects-item__wrapper">
               <h3 class="page-main-projects-item__title">Мы хотим вывести идеи Open Source на качественно </h3>
               <p class="page-main-projects-item__text">Мы хотим вывести идеи Open Source на качественно новый уровень,
                  создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами...</p>
               <a href="#" class="page-main-projects-item__link link--after-row">Смотреть проект</a>
            </div>
         </div>

         <div class="page-main-projects-item">
            <img class="page-main-projects-item__img" src="img/list-card-8.png" alt="Project 1">

            <div class="page-main-projects-item__wrapper">
               <h3 class="page-main-projects-item__title">Мы хотим вывести идеи Open Source на качественно </h3>
               <p class="page-main-projects-item__text">Мы хотим вывести идеи Open Source на качественно новый уровень,
                  создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами...</p>
               <a href="#" class="page-main-projects-item__link link--after-row">Смотреть проект</a>
            </div>
         </div>

         <div class="page-main-projects-item">
            <img class="page-main-projects-item__img" src="img/list-card-9.png" alt="Project 1">

            <div class="page-main-projects-item__wrapper">
               <h3 class="page-main-projects-item__title">Мы хотим вывести идеи Open Source на качественно </h3>
               <p class="page-main-projects-item__text">Мы хотим вывести идеи Open Source на качественно новый уровень,
                  создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами...</p>
               <a href="#" class="page-main-projects-item__link link--after-row">Смотреть проект</a>
            </div>
         </div>
      </div>

      <a class="page-main-projects__all link--after-row"  href="list.html">Смотреть все</a>
   </section>

   <section class="page-main-stat page-container page-main-section">
      <div class="page-main-stat-item">
         <p class="page-main-stat-item__value">1 281 029 $</p>
         <p class="page-main-stat-item__description">Собрали за все время</p>
      </div>

      <div class="page-main-stat-item">
         <p class="page-main-stat-item__value">8 920 $</p>
         <p class="page-main-stat-item__description">Текущий фонд</p>
      </div>

      <div class="page-main-stat-item">
         <p class="page-main-stat-item__value">5 000 $</p>
         <p class="page-main-stat-item__description">Дефицит бюджета</p>
      </div>

      <div class="page-main-stat-item">
         <p class="page-main-stat-item__value">150 $</p>
         <p class="page-main-stat-item__description">Всего проектов</p>
      </div>

      <div class="page-main-stat-item">
         <p class="page-main-stat-item__value">21 890 $</p>
         <p class="page-main-stat-item__description">Открытых задач</p>
      </div>
   </section>

   <section class="page-main-donate page-container page-main-section">
      <h2 class="page-main-section__title line-prev">помощь проекту</h2>
      <h3 class="page-main-section__subtitle">Пожертвования</h3>

      <div class="page-main-donate-list">
         <div class="page-main-donate-list__col">
            <div class="page-main-donate-item">
               <p class="page-main-donate-item__text">
                  Мы хотим вывести идеи Open Source на качественно новый уровень,
                  создав
                  фонд и удобную онлайн платформу для работы над любыми.
               </p>
               <div>
                  <span class="page-main-donate-item__cost">178$</span>
                  <span class="page-main-donate-item__date">08.08.2020</span>
               </div>
            </div>

            <div class="page-main-donate-item">
               <p class="page-main-donate-item__text">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                  для работы над любыми открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый
                  уровень,
                  создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.Мы хотим вывести идеи
                  Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми
                  открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и
                  удобную
                  онлайн платформу для работы над любыми открытыми проектами.
                  Cоздав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.
               </p>
               <div>
                  <span class="page-main-donate-item__cost">49$</span>
                  <span class="page-main-donate-item__date">08.08.2020</span>
               </div>
            </div>
         </div>

         <div class="page-main-donate-list__col">
            <div class="page-main-donate-item">
               <p class="page-main-donate-item__text">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                  для работы над любыми открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый
                  уровень,
                  создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.
               </p>
               <div>
                  <span class="page-main-donate-item__cost">49$</span>
                  <span class="page-main-donate-item__date">08.08.2020</span>
               </div>
            </div>

            <div class="page-main-donate-item">
               <p class="page-main-donate-item__text">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                  для работы над любыми.
               </p>
               <div>
                  <span class="page-main-donate-item__cost">133$</span>
                  <span class="page-main-donate-item__date">08.08.2020</span>
               </div>
            </div>

            <div class="page-main-donate-item">
               <p class="page-main-donate-item__text">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                  для работы над любыми открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый
                  уровень,
                  создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.
               </p>
               <div>
                  <span class="page-main-donate-item__cost">12$</span>
                  <span class="page-main-donate-item__date">08.08.2020</span>
               </div>
            </div>

         </div>

      </div>

      <h3 class="page-main-section__subtitle">Хочу помочь проекту</h3>
      <a href='donat.html' class="page-main-donate__action btn btn--green btn--big">Стать cпонсором</a>
   </section>

   <section class="page-main-contributors page-container page-main-section page-main-section--gray">
      <h2 class="page-main-section__title line-prev">помощь проекту</h2>
      <h3 class="page-main-section__subtitle">Участники</h3>

      <div class="page-main-contributors">
         <div class="page-main-contributors-list">
            <div class="page-main-contributors-list-col">
               <div class="page-main-contributors-item">
                  <div class="page-main-contributors-item-info__wrapper">
                    <a href="user-page.html">
                      <img src="img/contributors/contributor1.jpg" alt="avatar" class="page-main-contributors-item-info__avatar">
                    </a>
                     <div class="page-main-contributors-item-info">
                       <a href="user-page.html">
                         <p class="page-main-contributors-item-info__name">Богдан Соколов</p>
                       </a>
                        <p class="page-main-contributors-item-info__status page-main-contributors-item-info__status--owner">
                           Основатель
                        </p>
                     </div>
                  </div>
                  <div class="page-main-contributors-item-stack">
                     <p class="page-main-contributors-item-stack__title">
                        Компетенции
                     </p>
                     <p class="page-main-contributors-item-stack__value">
                        PHP, JavaScript, Docker, Ruby, Figma, Photoshop
                     </p>
                  </div>
               </div>

               <div class="page-main-contributors-item">
                  <div class="page-main-contributors-item-info__wrapper">
                    <a href="user-page.html">
                      <img src="img/contributors/contributor2.jpg" alt="avatar" class="page-main-contributors-item-info__avatar">
                    </a>
                     <div class="page-main-contributors-item-info">
                       <a href="user-page.html">
                         <p class="page-main-contributors-item-info__name">Полина Медведева</p>
                       </a>
                        <p class="page-main-contributors-item-info__status">
                           Участник
                        </p>
                     </div>
                  </div>
                  <div class="page-main-contributors-item-stack">
                     <p class="page-main-contributors-item-stack__title">
                        Компетенции
                     </p>
                     <p class="page-main-contributors-item-stack__value">
                        PHP, JavaScript, Docker, Ruby, Figma, Photoshop PHP, JavaScript, Docker, Ruby, Figma, Photoshop
                     </p>
                  </div>
               </div>
            </div>

            <div class="page-main-contributors-list-col">
               <div class="page-main-contributors-item">
                  <div class="page-main-contributors-item-info__wrapper">
                    <a href="user-page.html">
                      <img src="img/contributors/contributor3.jpg" alt="avatar" class="page-main-contributors-item-info__avatar">
                    </a>
                     <div class="page-main-contributors-item-info">
                       <a href="user-page.html">
                         <p class="page-main-contributors-item-info__name">Ангелина Соловова</p>
                       </a>
                        <p class="page-main-contributors-item-info__status">
                           Участник
                        </p>
                     </div>
                  </div>

                  <div class="page-main-contributors-item-stack">
                     <p class="page-main-contributors-item-stack__title">
                        Компетенции
                     </p>
                     <p class="page-main-contributors-item-stack__value">
                        PHP, JavaScript, Docker, Ruby, Figma, Photoshop PHP, JavaScript, Docker, Ruby, Figma, Photoshop
                     </p>
                  </div>
               </div>

               <div class="page-main-contributors-item">
                  <div class="page-main-contributors-item-info__wrapper">
                    <a href="user-page.html">
                      <img src="img/contributors/contributor4.jpg" alt="avatar" class="page-main-contributors-item-info__avatar">
                    </a>
                     <div class="page-main-contributors-item-info">
                       <a href="user-page.html">
                         <p class="page-main-contributors-item-info__name">Ангелина Соловова</p>
                       </a>
                        <p class="page-main-contributors-item-info__status page-main-contributors-item-info__status--sponsor">
                           Спонсор
                        </p>
                     </div>
                  </div>

                  <div class="page-main-contributors-item-stack">
                     <p class="page-main-contributors-item-stack__title">
                        Компетенции
                     </p>
                     <p class="page-main-contributors-item-stack__value">
                        PHP, JavaScript, Docker, Ruby, Figma, Photoshop
                     </p>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </section>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
