<% var data = {
  title: "GrandCore | Страница"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-page-project">
  <section class="page-project page-container page-project-section page-project-section">
    <div class="page-project-section-grid">
      <div class="page-project-section-grid-column__1">
        <div class="page-project-section-grid-column__1-upper">
          <div class="page-project-section-grid-column__1-upper-block">
            <div class="page-project-section-grid-column__1-upper-block-tree">
              <a href="#" class="page-project-section-grid-column__1-upper-block-tree-text">Software</a><img class="page-project-section-grid-column__1-upper-block-tree-icon" src="../../img/right.svg">
              <a href="#" class="page-project-section-grid-column__1-upper-block-tree-text">Security</a><img class="page-project-section-grid-column__1-upper-block-tree-icon" src="../../img/right.svg">
              <a href="#" class="page-project-section-grid-column__1-upper-block-tree-text">Flipper Zero - New era</a>
            </div>
            <h3 class="page-project-section-grid-column__1-upper__title">Flipper Zero - New era</h3>
          </div>
          <a class="btn btn--big btn--green" href="#" style="position: relative;">Стать cпонсором</a>
        </div>
        <div class="page-project-section-grid-column__1-photos">
          <div class="page-project-section-grid-column__1-photos-main" style="background: url('../../img/list-card-1.png') center; background-size: cover;">

          </div>
          <div class="page-project-section-grid-column__1-photos-scroll" id="photos_scroll" data-control="scroll">
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-1.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-2.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-3.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-4.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-5.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-6.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-1.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-2.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-3.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-4.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-5.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-6.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-1.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-2.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-3.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-4.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-5.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-6.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-1.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-2.png') center; background-size: cover;"></div>
            <div class="page-project-section-grid-column__1-photos-scroll__item" style="background: url('../../img/list-card-3.png') center; background-size: cover;"></div>
          </div>
        </div>
        <div class="page-project-section-grid-column__1-content">
          <div class="page-project-section-grid-column__1-content-item">
            <div class="page-project-section-grid-column__1-content-item-title">
              <h3 class="page-project-section-grid-column__1-content-item-title__num">1.</h3>
              <h3 class="page-project-section-grid-column__1-content-item-title__text">Про проект</h3>
            </div>
            <p class="page-project-section-grid-column__1-content-item__description">Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами: общественно значимыми онлайн Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами: общественно значимыми онлайн</p>
            <img src="../../img/list-card-1.png" class="page-project-section-grid-column__1-content-item__image">
          </div>
          <div class="page-project-section-grid-column__1-content-item">
            <div class="page-project-section-grid-column__1-content-item-title">
              <h3 class="page-project-section-grid-column__1-content-item-title__num">2.</h3>
              <h3 class="page-project-section-grid-column__1-content-item-title__text">Софт с характером</h3>
            </div>
            <p class="page-project-section-grid-column__1-content-item__description">Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами: общественно значимыми онлайн Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами: общественно значимыми онлайн</p>
            <p class="page-project-section-grid-column__1-content-item__description">Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами: общественно значимыми онлайн Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами: общественно значимыми онлайн</p>
            <img src="../../img/list-card-2.png" class="page-project-section-grid-column__1-content-item__image">
          </div>
          <div class="page-project-section-grid-column__1-content-item">
            <div class="page-project-section-grid-column__1-content-item-title">
              <h3 class="page-project-section-grid-column__1-content-item-title__num">3.</h3>
              <h3 class="page-project-section-grid-column__1-content-item-title__text">Обновите своего друга</h3>
            </div>
            <p class="page-project-section-grid-column__1-content-item__description">В 1991 году во время обучения в Хельсинкском университете Линус Торвальдс заинтересовался операционными системами[19] и был разочарован лицензией MINIX, которая ограничивала её использование только образовательными целями (что исключало любое коммерческое использование), вследствие чего начал работать над своей собственной операционной системой, которая в итоге стала Linux. </p>
            <p class="page-project-section-grid-column__1-content-item__description">Торвальдс начал разработку ядра Linux на MINIX, и перенёс на него ряд приложений. Позже, когда Linux достиг определённой зрелости, появилась возможность продолжать разработку уже на базе самого Linux[20]. Приложения GNU вскоре заменили приложения MINIX, так как код GNU, находящийся в свободном доступе, был более удобен для применения в молодой операционной системе (исходный код под лицензией GNU GPL может быть использован в других проектах, если они также выпускаются под той же или совместимой лицензией, для того чтобы сделать Linux доступным для коммерческого использования, Торвальдс начал переходить от своей первоначальной лицензии на GNU GPL)[21]. Разработчики работали над полной интеграцией компонентов GNU с Linux с целью создания полнофункциональной и свободной операционной системы (Linux). </p></p>
            <img src="../../img/list-card-3.png" class="page-project-section-grid-column__1-content-item__image">
          </div>
        </div>
      </div>
      <div class="page-project-section-grid-column__2">
        <div class="page-project-section-grid-column__2-telegram">
          <div class="page-project-section-grid-column__2-telegram-logo">
            <img src="../../img/telegram.svg">
            <h3 class="page-project-section-grid-column__2-telegram-logo__title">Telegram Chat</h3>
          </div>
            <div class="page-project-section-grid-column__2-telegram-chat">
              <div class="page-project-section-grid-column__2-telegram-chat-item">
                <h4 class="page-project-section-grid-column__2-telegram-chat-item__username">Полина Медведева</h4>
                <p class="page-project-section-grid-column__2-telegram-chat-item__text">Flipper is made by makers who got tired of all these rough PCBs and bulky external modules. We want to make a versatile and beautiful platform for prototyping, hardware research, and pentest of any kind.    </p>
              </div>
              <div class="page-project-section-grid-column__2-telegram-chat-item">
                <h4 class="page-project-section-grid-column__2-telegram-chat-item__username">Ангелина Кот</h4>
                <p class="page-project-section-grid-column__2-telegram-chat-item__text">Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.</p>
              </div>
              <div class="page-project-section-grid-column__2-telegram-chat-item">
                <h4 class="page-project-section-grid-column__2-telegram-chat-item__username">Алексей Зубцов</h4>
                <p class="page-project-section-grid-column__2-telegram-chat-item__text">Flipper Zero is a portable multi-tool for pentesters and hardware geeks in a Tamagochi-like body. </p>
              </div>
              <div class="page-project-section-grid-column__2-telegram-chat-item">
                <h4 class="page-project-section-grid-column__2-telegram-chat-item__username">Полина Медведева</h4>
                <p class="page-project-section-grid-column__2-telegram-chat-item__text">Flipper is made by makers who got tired of all these rough PCBs and bulky external modules. We want to make a versatile and beautiful platform for prototyping, hardware research, and pentest of any kind.    </p>
              </div>
              <div class="page-project-section-grid-column__2-telegram-chat-item">
                <h4 class="page-project-section-grid-column__2-telegram-chat-item__username">Полина Медведева</h4>
                <p class="page-project-section-grid-column__2-telegram-chat-item__text">Flipper is made by makers who got tired of all these rough PCBs and bulky external modules. We want to make a versatile and beautiful platform for prototyping, hardware research, and pentest of any kind.    </p>
              </div>
          </div>
        </div>
        <div class="page-project-section-grid-column__2-info">
          <h3 class="page-project-section-grid-column__2-info__title">Project structure</h3>
          <div class="page-project-section-grid-column__2-info-tree">
            <ul>
              <li>1. What is Flipper Zero</li>
              <li>2. Hardware with personality</li>
              <li>3. About project</li>
              <li>4. PCBs and bulky</li>
            </ul>
          </div>
          <h3 class="page-project-section-grid-column__2-info__title">Project coordinators</h3>
          <div class="page-project-section-grid-column__2-info-contributors" style="margin-top: 22px;">
            <div class="page-project-section-grid-column__2-info-contributors-item">
              <div class="page-project-section-grid-column__2-info-contributors-item-info__wrapper">
                 <img src="../img/contributors/contributor1.jpg" alt="avatar" class="page-project-section-grid-column__2-info-contributors-item-info__avatar">
                 <div class="page-project-section-grid-column__2-info-contributors-item-info">
                    <p class="page-project-section-grid-column__2-info-contributors-item-info__name">Богдан Соколов</p>
                    <p class="page-project-section-grid-column__2-info-contributors-item-info__status page-project-section-grid-column__2-info-contributors-item-info__status--owner">
                       Основатель
                    </p>
                 </div>
              </div>
              <div class="page-project-section-grid-column__2-info-contributors-item-stack">
                 <p class="page-project-section-grid-column__2-info-contributors-item-stack__title">
                    Компетенции
                 </p>
                 <p class="page-project-section-grid-column__2-info-contributors-item-stack__value">
                    PHP, JavaScript, Docker, Ruby, Figma, Photoshop
                 </p>
              </div>
           </div>
           <div class="page-project-section-grid-column__2-info-contributors-item">
            <div class="page-project-section-grid-column__2-info-contributors-item-info__wrapper">
               <img src="../img/contributors/contributor1.jpg" alt="avatar" class="page-project-section-grid-column__2-info-contributors-item-info__avatar">
               <div class="page-project-section-grid-column__2-info-contributors-item-info">
                  <p class="page-project-section-grid-column__2-info-contributors-item-info__name">Богдан Соколов</p>
                  <p class="page-project-section-grid-column__2-info-contributors-item-info__status page-project-section-grid-column__2-info-contributors-item-info__status--owner">
                     Основатель
                  </p>
               </div>
            </div>
            <div class="page-project-section-grid-column__2-info-contributors-item-stack">
               <p class="page-project-section-grid-column__2-info-contributors-item-stack__title">
                  Компетенции
               </p>
               <p class="page-project-section-grid-column__2-info-contributors-item-stack__value">
                  PHP, JavaScript, Docker, Ruby, Figma, Photoshop
               </p>
            </div>
         </div>
         <div class="page-project-section-grid-column__2-info-contributors-item">
          <div class="page-project-section-grid-column__2-info-contributors-item-info__wrapper">
             <img src="../img/contributors/contributor1.jpg" alt="avatar" class="page-project-section-grid-column__2-info-contributors-item-info__avatar">
             <div class="page-project-section-grid-column__2-info-contributors-item-info">
                <p class="page-project-section-grid-column__2-info-contributors-item-info__name">Богдан Соколов</p>
                <p class="page-project-section-grid-column__2-info-contributors-item-info__status page-project-section-grid-column__2-info-contributors-item-info__status--owner">
                   Основатель
                </p>
             </div>
          </div>
          <div class="page-project-section-grid-column__2-info-contributors-item-stack">
             <p class="page-project-section-grid-column__2-info-contributors-item-stack__title">
                Компетенции
             </p>
             <p class="page-project-section-grid-column__2-info-contributors-item-stack__value">
                PHP, JavaScript, Docker, Ruby, Figma, Photoshop
             </p>
          </div>
       </div>
       <div class="page-project-section-grid-column__2-info-contributors-item">
        <div class="page-project-section-grid-column__2-info-contributors-item-info__wrapper">
           <img src="../img/contributors/contributor1.jpg" alt="avatar" class="page-project-section-grid-column__2-info-contributors-item-info__avatar">
           <div class="page-project-section-grid-column__2-info-contributors-item-info">
              <p class="page-project-section-grid-column__2-info-contributors-item-info__name">Богдан Соколов</p>
              <p class="page-project-section-grid-column__2-info-contributors-item-info__status page-project-section-grid-column__2-info-contributors-item-info__status--owner">
                 Основатель
              </p>
           </div>
        </div>
        <div class="page-project-section-grid-column__2-info-contributors-item-stack">
           <p class="page-project-section-grid-column__2-info-contributors-item-stack__title">
              Компетенции
           </p>
           <p class="page-project-section-grid-column__2-info-contributors-item-stack__value">
              PHP, JavaScript, Docker, Ruby, Figma, Photoshop
           </p>
        </div>
     </div>
     <div class="page-project-section-grid-column__2-info-contributors-item">
      <div class="page-project-section-grid-column__2-info-contributors-item-info__wrapper">
         <img src="../img/contributors/contributor1.jpg" alt="avatar" class="page-project-section-grid-column__2-info-contributors-item-info__avatar">
         <div class="page-project-section-grid-column__2-info-contributors-item-info">
            <p class="page-project-section-grid-column__2-info-contributors-item-info__name">Богдан Соколов</p>
            <p class="page-project-section-grid-column__2-info-contributors-item-info__status page-project-section-grid-column__2-info-contributors-item-info__status--owner">
               Основатель
            </p>
         </div>
      </div>
      <div class="page-project-section-grid-column__2-info-contributors-item-stack">
         <p class="page-project-section-grid-column__2-info-contributors-item-stack__title">
            Компетенции
         </p>
         <p class="page-project-section-grid-column__2-info-contributors-item-stack__value">
            PHP, JavaScript, Docker, Ruby, Figma, Photoshop
         </p>
      </div>
   </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>