<% var data = {
  title: "GrandCore | Страница"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-users">
  
  <section class="page-users-contributors page-container page-users-section page-users-section--gray">
    <h2 class="page-users-section__title line-prev">помощь проекту</h2>
    <h3 class="page-users-section__subtitle">Участники</h3>

    <div class="page-users-content-wrapper-conteiner">
      <div class="page-users-content-wrapper-conteiner-top">
        <div class="page-users-content-wrapper-conteiner-top-search">
          <div class="page-users-content-wrapper-conteiner-top-search-field">
            <div class="page-users-content-wrapper-conteiner-top-search-field-icon"></div>
            <input class="page-users-content-wrapper-conteiner-top-search-field-input" placeholder="Поиск"></input>
          </div>
        </div>
        <div class="page-users-content-wrapper-conteiner-top-filtercontaiber">
            <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-cat">
               <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field">
                  <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field-text">Категории</div>
                  <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field-icon"></div>
               </div>
            </div>
            <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-tag">
               <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field">
                  <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field-text">Теги</div>
                  <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field-icon"></div>
               </div>
            </div>
            <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter">
               <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field">
                  <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-icon"></div>
               </div>
            </div>
         </div>
      </div>
    </div>

    <div class="page-users-contributors">
       <div class="page-users-contributors-list">
          <div class="page-users-contributors-list-col">
             <div class="page-users-contributors-item">
                <div class="page-users-contributors-item-info__wrapper">
                   <img src="../img/contributors/contributor1.jpg" alt="avatar" class="page-users-contributors-item-info__avatar">
                   <div class="page-users-contributors-item-info">
                      <p class="page-users-contributors-item-info__name">Богдан Соколов</p>
                      <p class="page-users-contributors-item-info__status page-users-contributors-item-info__status--owner">
                         Основатель
                      </p>
                   </div>
                </div>
                <div class="page-users-contributors-item-stack">
                   <p class="page-users-contributors-item-stack__title">
                      Компетенции
                   </p>
                   <p class="page-users-contributors-item-stack__value">
                      PHP, JavaScript, Docker, Ruby, Figma, Photoshop
                   </p>
                </div>
             </div>

             <div class="page-users-contributors-item">
                <div class="page-users-contributors-item-info__wrapper">
                   <img src="../img/contributors/contributor2.jpg" alt="avatar" class="page-users-contributors-item-info__avatar">
                   <div class="page-users-contributors-item-info">
                      <p class="page-users-contributors-item-info__name">Полина Медведева</p>
                      <p class="page-users-contributors-item-info__status">
                         Участник
                      </p>
                   </div>
                </div>
                <div class="page-users-contributors-item-stack">
                   <p class="page-users-contributors-item-stack__title">
                      Компетенции
                   </p>
                   <p class="page-users-contributors-item-stack__value">
                      PHP, JavaScript, Docker, Ruby, Figma, Photoshop PHP, JavaScript, Docker, Ruby, Figma, Photoshop
                   </p>
                </div>
             </div>
          </div>

          <div class="page-users-contributors-list-col">
             <div class="page-users-contributors-item">
                <div class="page-users-contributors-item-info__wrapper">
                   <img src="../img/contributors/contributor3.jpg" alt="avatar" class="page-users-contributors-item-info__avatar">
                   <div class="page-users-contributors-item-info">
                      <p class="page-users-contributors-item-info__name">Ангелина Соловова</p>
                      <p class="page-users-contributors-item-info__status">
                         Участник
                      </p>
                   </div>
                </div>

                <div class="page-users-contributors-item-stack">
                   <p class="page-users-contributors-item-stack__title">
                      Компетенции
                   </p>
                   <p class="page-users-contributors-item-stack__value">
                      PHP, JavaScript, Docker, Ruby, Figma, Photoshop PHP, JavaScript, Docker, Ruby, Figma, Photoshop
                   </p>
                </div>
             </div>

             <div class="page-users-contributors-item">
                <div class="page-users-contributors-item-info__wrapper">
                   <img src="../img/contributors/contributor4.jpg" alt="avatar" class="page-users-contributors-item-info__avatar">
                   <div class="page-users-contributors-item-info">
                      <p class="page-users-contributors-item-info__name">Ангелина Соловова</p>
                      <p class="page-users-contributors-item-info__status page-users-contributors-item-info__status--sponsor">
                         Спонсор
                      </p>
                   </div>
                </div>

                <div class="page-users-contributors-item-stack">
                   <p class="page-users-contributors-item-stack__title">
                      Компетенции
                   </p>
                   <p class="page-users-contributors-item-stack__value">
                      PHP, JavaScript, Docker, Ruby, Figma, Photoshop
                   </p>
                </div>
             </div>

          </div>
       </div>
       <div class="page-list-content-wrapper-conteiner-row-download">
         <a class="page-list-content-wrapper-conteiner-row-download-btn" href="#">Загрузи ещё</a>
       </div>
    </div>
 </section>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
